html{
	background: #F2EDDF;
}
body{
	background: #F2EDDF;
}

@media (min-width: 1200px) { 
/* S底部 */
	footer{
		background-color: #B3A994;
		padding: 45px 0;
		height: 160px;
		border-bottom: 2px solid #f2eddf;
		margin-top: 20px;
	}
	.footer-left{
		float: left;
		width: 200px;
	}
	.footer-left img{
		float: right;
		margin-right: -10px;
		line-height: 160px;
	}
	.footer-archival{
		float: left;
		width: 900px;
		padding-left: 72px;
		margin-top: 13px;
	}
	.footer-archival span{
		font-size: 15px;
		line-height: 20px;
		color: #101010;
		margin-left: 25px;
		float: left;
	}
	.footer-archival a{
		font-size: 15px;
		color: #101010;
		margin-left: 25px;
		display: block;
		text-decoration: none;
		float: left;
	}
	.footer-archival a img{
		float: left;
		margin-top: 0;
		margin-right: 2px;
	}
	.footer-archival a span{
		float: left;
		font-size: 15px;
		color: #101010;
		margin: 0;
		line-height: 20px;
	}
	.footer-archival a:hover{
		color: #101010;
	}
	.footer-right{
		float: right;
		width: 100px;
	}
	.footer-right img{
		width: 90px;
		height: 90px;
		margin-top: -5px !important;
	}
	/* E底部 */

	/* S头部 */
	.header{
		background-color: #B3A994;
		height: 70px;
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 1000;
	}
	.header img{
		float: left;
	}
	.kgzg{
		height: 60px;
	}
	.header-title{
		float: left;
		font-size: 18px;
		line-height: 70px;
		color: #101010;
	}
	.input-group{
		float: left;
		margin-left: 200px;
		width: 346px;
		margin-top: 20px;
	}
	.header-search{
		width: 286px !important;
		height: 30px;
		border: 0;
	}
	#basic-addon1{
		color: #DCC18B;
		background-color: #fff;
		border: 0;
		display: block;
		float: left;
		width: 36px;
		height: 30px;
		font-size: 18px;
		text-align: center;
		padding-top: 3px;
	}
	#basic-addon1:hover{
		cursor: pointer;
	}
	.header-right{
		float: right;
		font-size: 16px;
		line-height: 70px;
		color: #101010;
		position: relative;
	}
	.header-right span a{
		color: #101010;
	}
	.header-right span a:hover{
		color: blue;
		text-decoration: none;
	}
	.header-right .dropdown-menu{
		left: 190px;
	}
	/* E头部 */

	/* S导航栏 */
	.nav-fixed{
		position: fixed;
		top: 98px;
		font-size: 18px;
		font-weight: 600;
		width: 150px;
		text-align: center;
		margin-left: -15px;
		z-index: 1000;
		font-family: "Microsoft YaHei";
	}
	.news{
		width: 112px;
		line-height: 55px;
		padding: 0 !important;
		display: block;
		border-radius: 2px;
		text-decoration: none;
	}
	.active{
		background: #DCC18B;
		border-radius: 2px;
	}
	.active a{
		color: #fff;
	}
	.nav-fixed:hover .active{
		background-color: #f2eddf;
	} 
	.nav-fixed:hover .active a{
		color: #555;
	}
	.nav{
		margin-left: 15px;
	}

	.nav-fixed .nav-tag{
		line-height: 55px;
		padding: 0;
		font-weight: 700;
	}
	.nav-fixed li{
		width: 112px;
		
	}
	.nav-fixed .navbar .navbar-collapse .nav>li :hover{
		background: #DCC18B;
		border-radius: 2px;
	}
	.nav-fixed li:hover a{
		color: #fff;
		
	}
	.navbar-header{
		float: none;
	}
	.navbar-collapse>.input-group{
		display: none;
	}
	.navbar-collapse>.header-right{
		display: none;
	}
	/* E导航栏 */
	.container img{
		margin-top: 5px;
	}
	.container-box{
		margin-top: 80px;
	}
	.row{
		margin-top: 15px;
	}
	.row main{
		margin-left: 155px;
		width: 690px;
	}
	.panel{
		background-color: #F2EDDF;
	}
	.section-list{
		width: 690px;
		margin-left: -15px;
	}
	.panel-default > .panel-heading{
		background-color: #F2EDDF;
		border-bottom: 1px solid #EADFC9;
	}
	.panel-body .article-list{
		background: #F2EDDF;
	}
	.article-list .article-item{
		border-bottom: 1px solid #bbb;
		height: 161px;
	}
	.content-right{
		width: 380px;
		float: right;
	}
	.media-left a img{
		padding-right: 20px;
	}
	.article-item .media .media-body{
		padding-left:0;
	}
    .media-box{
		height: 120px;
	}
	.list-title{
		width: 480px;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: 600;
	}
	/* S本周热点信息 */
	.lasest-update{
		background: #EADFC9;
	}
	.lasest-update-title{
		background: #EADFC9 !important;
		border: 0 !important;

	}
	.lasest-update .panel-body{
		margin-top: 10px;
	}
	.lasest-update .panel-body ul li{
		width: 310px;
		height: 100px;
		margin-left: 10px;
		padding-bottom: 20px;
		font-size: 15px;
	}
	.lasest-update .panel-body ul li .rd-left a{
		color: #000;
	}
	.lasest-update .panel-body ul li .rd-left{
		float: left;
		width: 190px;
		height: 70px;
		white-space: normal;
		line-height: 25px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.lasest-update .panel-body ul li img{
		width: 100px;
		height: 70px;
		float: right;
	}
	.line{
		width: 350px;
		height: 1px;
		margin-left: -15px;
		background-color: #cdc5b7;
	}
	.loadmore-rd{
		background-color: #eadfc9;
		border: none;
		color: #000;
		font-size: 16px;
		margin-bottom: 0px !important;
		margin-top: 10px !important;
	}
	.loadmore-rd:hover{
		background-color: #eadfc9;
		border: none;
		color: #000;
	}
	/* E本周热点信息 */

	/* S展览速递&右侧精品文物轮播 */
	.new-zl{
		background: #EADFC9;
	}
	.new-zl-title{
		background: #EADFC9 !important;
		border: 0 !important;
	}

	.little-box{
		padding :0;
		margin-left: 10px;
	}
	.little-box img{
		margin: 0;
	}
	.cl:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0
	}

	.cl {
		zoom: 1
	}

	.zllunbo {
		width: 300px;
	}
	/* sildes css begin */

	.control {
		width: 300px;
		height: 250px;
		display: block;
	/*    position: absolute;
		top: 0;
		left: 0; */
		overflow: hidden;
	}

	.imgleft li {
		width: 250px;
		overflow: hidden;
		text-align: center
	}
	/* 图片垂直居中,不是很准确 */

	.imgleft li .imgWrap {
		display: table-cell;
		width: 250px;
		height: 220px;
		vertical-align: middle;
		cursor: pointer;
	}

	.imgleft li img {
		width: 250px;
		height: 220px;
	/*    width: expression(this.width > 757 && this.width > this.height ? 600: true);
		height: expression(this.height >757 ? 600: true); */
		vertical-align: middle;
		overflow: hidden
	}
	/* 描述部分 */

	.imgleft li .textDesc {
		width: 250px;
		height: 30px;
		background: #fff;
	}
	.imgleft li .title {
		height: 30px;
		padding: 10px 15px 0;
		color: #101010;
		font-size: 14px;
		line-height: 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.imgleft li .title a {
		color: #101010;
	}
	/*.imgleft li .text{color:#b7b7b7;line-height:18px;padding:5px 15px;font-size:12px;}*/
	/* 翻页按钮 */


	/* 分页 */

	/* 缩图部分 */

	.thumbWrap {
		width: 50px;
		height: 250px;
		position: absolute;
		right: 0;
		top: 0;
		background: #a4a3a2;
		Filter: alpha(Opacity=62);
		Opacity: 0.62;
		overflow: hidden;
	}

	.thumbWrap .thumbCont {
		height: 180px;
		overflow: hidden;
		position: relative;
		top: 35px;
		width: 50px;
	}
	.thumbCont ul{
		padding-left: 0;
	}
	.thumbWrap ul li {
		/*height: 92px;*/
		overflow: hidden;
		text-align: center;
		margin: 0 auto;
		text-align: center;
		width: 30px;
	}
	.thumbWrap ul li div {
		display: table-cell;
		width: 30px;
		height: 30px;
		vertical-align: middle;
		cursor: pointer;
		*font-size: 79px;
	}
	.thumbWrap ul li img {
	width: 30px;
	height: 30px;
	/*    width: expression(this.width > 127 && this.width > this.height ? 127: true);
		height: expression(this.height >89 ? 89: true); */
		vertical-align: middle;
		overflow: hidden
	}
	.thumbWrap ul li.cur {
		border: 1px solid #f00;
		box-sizing: border-box;
	}
	/* 缩图按钮 */
	.thumbPrev,
	.thumbNext {
		width: 24px;
		height: 24px;
		text-align: center;
		position: absolute;
		background-color: red;
		z-index: 9;
		outline: none
	}
	.thumbPrev span,
	.thumbNext span {
		display: none;
	}
	.thumbPrev {
		left: 13px;
		top: 10px;
		background: url(/assets/addons/cms/img/top.png) no-repeat;
	}
	.thumbNext {
		left: 13px;
		bottom: 5px;
		background: url(/assets/addons/cms/img/bottom.png) no-repeat;
	}
	/* E展览速递&右侧精品文物轮播 */

	/* S考古词条 */
	.kgct-update{
		background: #eadfc9;
	}
	.kgct-update-title{
		background: #eadfc9 !important;
		border: 0 !important;
	}
	.kgct-update .panel-body{
		margin-top: 10px;
	}
	.kgct-update .panel-body .kgct-left{
		width: 190px;
		float: left;
	}
	.kgct-update .panel-body .kgct-left a{
		display: block;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.kgct-update .panel-body ul li{
		width: 310px;
		height: 100px;
		margin-left: 10px;
		padding-bottom: 20px;
		font-size: 15px;
	}
	.kgct-update .panel-body ul li a{
		width: 190px;
		display: inline-block;
		cursor: pointer;
		white-space: pre-wrap;
		color: #000000;
	}
	.kgct-update .panel-body ul li img{
		width: 100px;
		height: 70px;
		float: right;
	}
	.kgct-update .panel-body .list-unstyled li span{
		color: #948d8d;
		display: block;
		width: 190px;
		height: 40px;
		overflow: hidden;
		font-size: 14px;
		margin-top: 10px;
	}
	.loadmore-ct{
		background-color: #eadfc9;
		border: none;
		color: #000;
		font-size: 16px;
		margin-bottom: 0px !important;
		margin-top: 10px !important;
	}
	.loadmore-ct:hover{
		background-color: #eadfc9;
		border: none;
		color: #000;
	}
	/* E考古词条 */
	/* S关键词库 */
	.keywords{
		background: #EADFC9;
	}
	.keywords .btn-box{
		width: 100%;
		float: left;
	}
	.keywords-title{
		background: #EADFC9 !important;
		border: 0 !important;
		text-align: center;
	}
	.keywords .panel-body ul li{
		font-size: 15px;
		float: left;
		line-height: 35px;
		margin:0 10px 0;
	}
	.keywords .panel-body ul li a{
		color: #000;
	}
	.loadmore-words{
		background-color: #eadfc9;
		border: none;
		color: #000;
		font-size: 16px;
		margin-bottom: 0px !important;
		margin-top: 10px !important;
	}
	.loadmore-words:hover{
		background-color: #eadfc9;
		border: none;
		color: #000;
	}
	/* E关键词库 */

	/* S相关链接 */
	.friends{
		background: #EADFC9;
	}
	.friends-title{
		background: #EADFC9 !important;
		border: 0 !important;
		text-align: center;
	}
	.friends .panel-body ul li{
		height: 35px;
		line-height: 35px;
		font-size: 16px;
		float: left;
		padding: 0 10px 0;
	}
	.friends .panel-body ul li a{
		color: #000;
	}
	/* E相关链接 */
	/* S内容页 */
	.row .text-content{
		width: 1060px;
		margin-top: 85px;
		padding-bottom: 17px;
		background: #EADFC9;
	}
	#comment-container h3{
		background: #F2EDDF;
	}
	.article-content{
		background: #EADFC9;
		margin-top: 40px;
	}
	#comments{
		margin: 0 115px;
	}
	.article-content > .panel-heading > .breadcrumb{
		background: #F2EDDF;
		padding-top: 16px;
	}
	.panel-body-content{
		width: 800px;
		margin: 0 auto;
	}
	.article-metas .metas-body span{
		margin-right: 10px;
	}
	.metas-title{
		padding-top: 30px;
		font-weight: 600;
	}
	.article-metas .metas-body{
		margin-top:15px;
	}
	.article-metas .metas-body .fsbtn{
		float: right;
	}
	.fsbtn a{
		display: inline-block;
		width: 35px;
		height: 20px;
		line-height: 20px;
		background-color:#f2eddf;
		text-decoration: none;
		text-align: center;
		font-size: 14px;
	}
	.fsbtn a:hover{
		color: #fff;
		background-color:#dcc18b ;
	}
	.article-text{
		margin-top: 20px;
	}
	.article-text p{
		display: inline-block;
		width: 100%;
		line-height: 26px;
		font-size: 16px;
		margin-bottom: 20px;
	}
	.article-text img{
		margin-bottom: 8px;
	}
	.preve li{
		height: 20px;
	}
	.readmore{
		padding-bottom: 30px;
	}
	.readmore-title{
		font-size: 18px;
		color: #616161;
		font-weight: bold;
		margin-left: 3px;
	}
	.read-about{
		padding: 0 5px 0;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	/* E内容页 */
	/* 相关阅读下面文字 */
	.xgyd{
		margin-left: -12px;
	}
	.readmore-text{
		font-size: 14px;
		color: #616161;
		width: value;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: 5px;
		display: inline-block;
	}
	.comments-title{
		background: #F2EDDF !important;
	}
	#content-container .category-title{
		width: 1020px;
		margin-left: 155px;
		margin-top: 15px;
	}
	.article-tag{
		width: 100%;
	}
	.article-tag span:nth-of-type(3){
		float: right;
	}
	.media-box .article-tag span:nth-of-type(2){
		float: right;
		margin-right: 0;
	}

	/* S精品文物 */
	.row .jp-box{
		width: 1080px;
	}
	.jp-list{
		width: 100%;
		margin-left: 0;
	}
	.category-title .jp-name{
		font-size: 16px;
	}
	.jp-border{
		padding: 0 !important;
	}
	.jp-box>.panel-body{
	    padding: 0;
	}
	#pb-box{
		position: relative;
		padding: 0 15px;
	}
	.pb-item{
		width: 180px;
		box-sizing: border-box;
		background-color: #EADFC9;
		margin-bottom: 30px;
	}
	.pb-item img{
		margin: 0;
	}
	.pb-item .jp-pb-title{
		width: 100%;
		font-size: 15px;
		text-align: center;
		line-height: 24px;
	}
	.jp-pb-title a{
		padding: 0 5px;
	}
	.jp-pb-title a:hover{
		text-decoration: none;
	}

	/* E精品文物 */


	/* S右下浮动按钮 */
	#floatbtn{
		margin-right: -690px;
		margin-bottom: 165px;
	}
	#floatbtn .iconfont{
		font-size: 30px;
	}
	/* E右下浮动按钮 */
	/* S精品文物撑起高度 */
	.clear{
		float: right;
		width: 0;
		height: 683px;
	}
	/* E精品文物撑起高度 */

	.clearfix li a.active{
		display: block;
		padding: 5px;
		background: #DCC18B;
		color: #555;
	}

	/* S 广告位 */
	.ad{
		position: fixed;
		top: 50%;
		right: 0;
		width: 300px;
		height: 210px;
		margin-top: -105px;
	}
	.ad .close{
		position: absolute;
		top: -24px;
		right: 0;
		color: #fff;
		background-color: rgba(0,0,0,.3);
	}
	.ad img{
		width: 100%;
		height: 100%;
	}
	/* E 广告位 */
}
